{% extends 'website/base.html' %}
{% block title %}Change password{% endblock title %}
{% load static %}

{% block maincontext %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="" class="btn btn-primary">Change Password Done</a></li>
            </ul>
       </div>
       <div class="col-sm-7 offset-sm-1 text-center">
            <h2>Password Change Successfully</h2>
    </div>
    </div>
</div>
    
{% endblock maincontext %}
    